@font-face {
    src: url(../font/GeosansLight.ttf);
    font-family: 'Alphakind';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(../font/Quicksand_Light_Oblique.otf);
    font-family: 'Quicksand';
    font-weight: normal;
    font-style: normal;
}


@font-face {
    src: url(../font/Quicksand_Bold.otf);
    font-family: 'Quicksand_bold';
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


/*-----------------------------------PAGE CONNECTION -------------------------------*/
.page_connection {
    background-image: url(../images/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.page_connection header h1 {
    font-family: Alphakind;
    color: #fff;
    text-align: center;
    margin-top: 3%;
}

.page_connection header h1 span,
.page_principale header h1 span {
    color: #F39B17;
}

.page_connection header h3 {
    color: #fff;
    text-align: center;
    margin-top: 1%;
    font-family: Quicksand;
}

.valider {
    display: block;
    margin-right: 47%;
    margin-left: 47%;
    margin-top: 3%;
    color: #fff;
    font-family: Quicksand;
    background-color: #F39B17;
    border-radius: 5px 5px;
    box-shadow: none;
    padding: 5px 10px;
}

.page_connection .field input {
    color: #B5B3B1;
}

.field__input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #B5B3B1);

    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/


.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, #F39B17);

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
    font-family: Quicksand_bold;
}

.page_connection .field {
    margin-top: 7%;
    margin-left: 40%;
    margin-left: 40%;
}

.field__input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, #F39B17);
}

.field__input:focus {
    outline: none;
}

.field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus~.field__label-wrap::after {
    opacity: 1;
}

.field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
    color: #F39B17;
}

.field__input:focus~.field__label-wrap .field__label,
.field__input:not(:placeholder-shown)~.field__label-wrap .field__label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

    top: var(--fieldHintTopHover, .25rem);
}

.field_v2 .field__label-wrap {
    overflow: hidden;
}

.field_v2 .field__label-wrap::after {
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus~.field__label-wrap::after {
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.erreur {
    color: #fff;
    font-family: Quicksand_bold;
    text-align: center;
}

/*---------------------------PAGE PRINCIPALE----------------------------------------*/
.page_principale {
    background-image: url(../images/fond2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page_principale h1 {
    font-family: Alphakind;
    color: #fff;
    text-align: center;
    margin-top: 7%;
}

.field_v3 .field__label-wrap::after {
    border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus~.field__label-wrap::after {
    height: 100%;
}

.page_principale .field {
    margin-top: 10%;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.page_principale .field input {
    color: #fff;
}

.burger.active1 input {
    color: #67D1E6;
    transition: .5s;
}

.burger.active1.active2 input {
    color: #E6D750;
    transition: .5s;
}

.burger.active1.active2.active3 input {
    color: #E63983;
    transition: .5s;
}

.page_principale form .argument {
    color: #fff;
    width: 500px;
    text-align: left;
    font-family: Quicksand;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px dashed #F39B17;
    border-top: 2px dashed #F39B17;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .5s;
}

.page_principale form .argument strong{
    color: #F39B17;
    margin-right: 20px;
    font-family: Alphakind;
}

.page_principale form blockquote{
    color: #fff;
    font-family: Quicksand;
    text-align: center;
}

.page_principale form blockquote span{
    color: #F39B17;
}

.page_principale .compte{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-family: Alphakind;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}

.page_principale .compte img{
    margin-right: 5px;
    padding-top: 10px;
}

